<h1>It`s K/DA</h1>
<p>K/DA es un grupo femenino virtual surcoreano que consta de cuatro personajes del juego League of Legends: Ahri, Akali, Evelynn y Kai'Sa. 
            Las Ultimas dos nombradas fueron interpretadas por las cantantes estadounidenses Madison Beer y Jaira Burns respectivamente, hasta el anuncio 
            de un nuevo miniálbum en agosto de 2020, para el que prestaron su voz Bea Miller y Wolftyla en el sencillo «The Baddest». 
            Ahri y Akali fueron interpretadas por Miyeon y Soyeon del grupo surcoreano (G)I-dle durante todos los lanzamientos de K/DA. El grupo fue 
            desarrollado por Riot Games, la compañía detrás de League of Legends, y se presentó por primera vez en el 2018 League of Legends World Championship 
            con una presentación en realidad aumentada, donde K/DA interpretó su canción debut «Pop/Stars».
            En el ultimo nuevo miniálbum de las chicas en la cancion titulo denominada "MORE" decidieron intengrar una collaboraciòn con una cantante China llamada
            Lexi Liu quien presto su voz para darle vida a Seraphine; Siendo a su vez lanzada como nueva campeona en el juego.</p>